* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #444;
    line-height: 1;
}
.container {
    margin: 0 auto;
    width: 1200px;
}

header {
    height: 100vh;
    position: relative;
    background-image:linear-gradient(to right bottom,rgba(0,0,0,0.6),rgba(0,0,0,0.4)) ,url(hero.jpg);
    background-size: cover;
    color: beige;
}
.header-container {
    width: 1200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.header-container-inner {
    width: 50%;
}
nav {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding-top:32px;
}

h1 {
    font-size: 52px;
    margin-bottom: 32px;
}

p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.btn:link,
.btn:visited {
    font-size: 20px;
    font-weight: 600;
    background-color: #e67e22;
    color: #fff;
    border-radius: 9px;
    padding: 16px 32px;
    text-transform: capitalize;
    text-decoration: none;
    display: inline-block;
}
h2 {
    font-size: 44px;
    margin-bottom: 48px;
}
section {
    padding: 96px 0;
}

.grid{
	display: grid;
	gap:9.6rem
}

.grid--2--cols{
	grid-template-columns: repeat(2, 1fr);
}

.section-how{
	padding:9.6rem 0;
}

.step-img{
	width:50%;
}

